MYSQL_ROOT_PASSWORD=example_root_pwd
MYSQL_DATABASE=example_db
MYSQL_USER=example_user
MYSQL_PASSWORD=example_pwd
MYSQL_HOST=db_mysql

MONGO_INITDB_ROOT_USERNAME=example_admin
MONGO_INITDB_ROOT_PASSWORD=example_admin_pwd
MONGO_DB=example_db
MONGO_URL=mongodb://example_admin:example_admin_pwd@db_mongo:27017
